
.round {
    position: absolute;
    border: 3px solid #7d7c78b0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    margin-left: 22%;
}

.roundDiv{
    width: 84px;
    height: 64px;
    margin: -43px auto 0;
    position: relative;
    background-color: white;
}

.round span {
    z-index: 999;
    height: 2px;
    margin:1px;
    width: 10px;
    background: #7d7c78b0;
    transition: 0.4s ease;
}

.round span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 32%;
    bottom: 35%;
}

.round span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

.round span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 32%;
    bottom: 54%;
}

.round span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}